* {
    overflow: auto;
}

body {
    background-color: #8BA1BB;
    font-family: Quicksand;
    margin: 0;
    font-weight: bold;

}

div.content {
    background-color: white;
    margin: 60px 10% 80px 10%;
    padding: 0px 30px 30px 30px;
    min-width: 400px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
    overflow: visible;
}

h1 {
    text-align: center;
    margin-bottom: 12px;
    margin-top: 10px;
}

p.description {
    width: 400px;
    display: inline-block;
    font-size: 14px;
}

/* CSS comment */
.center {
    text-align: center;
    width: 100%;
}

p.category {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 6px 18px;
    margin-top: -14px;
}

div.category {
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: visible;
}

div.separator {
    background-color: black;
    width: 100px;
    height: 1px;
    margin: auto;
}

div.info {
    position: relative;
}

table.info {
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: white;
    background-color: #6C829DC0;
    height: 60px;
    text-align: center;
    font-size: 15px;
}

img.info {

    display: block;
    object-fit: cover;
    max-height: 800px;
    min-height: 200px;
    background-color: lightblue;
}

div.column {
    width: 45%;
    margin-top: 18px;

}

div.column h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 5px solid #6C829D;
    padding-bottom: 5px;
}

div.column1 {
    /*background-color: lightblue;*/
    display: inline-block;
    margin-right: 10%;


}

div.column2 {
    float: right;
}

div.ingredients p {

    text-align: center;
    font-size: 16px;
    border: 2px solid lightgray;
    padding: 8px 0px;
    margin-top: 1px;
    margin-bottom: 5px;

}

table.preparation p.number {
    background-color: #6C829D;
    color: white;
    text-align: center;
    width: 25px;
    height: 25px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 1px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0%;

}

table.preparation td {
    vertical-align: top;
}

table.preparation td.preparation_step {
    font-size: 16px;
    padding-left: 12px;
    padding-bottom: 12px;
}

table.preparation tr {
    height: 60px;
}

